@using SeyahatProje.Models.Sınıflar
@model List<İletişim>

@{
    ViewBag.Title = "GeriBildirim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Geri Bildirim Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td> <a href="/Admin/GeriBildirimSil/@x.ID" class="btn btn-danger">Sil</a></td>
        </tr>
    }

</table>

